; Config stagefright plugin
[Playback]
AudioSinkBuffTime=163
YUV420Buffer=1

[Audio_Dec_MP3]
voDec=0

[Audio_Dec_AAC]
voDec=0

[Audio_Dec_AMRNB]
voDec=0

[Audio_Dec_AMRWB]
voDec=0

[Audio_Dec_AMRWBP]
voDec=0

[Audio_Dec_WMA]
voDec=0

[Audio_Dec_ADPCM]
voDec=0

[Audio_Dec_QCELP]
voDec=0

[Audio_Dec_EVRC]
voDec=0

[Audio_Dec_AC3]
voDec=0

[Audio_Dec_EAC3]
voDec=0

[Audio_Dec_FLAC]
voDec=0

[Audio_Dec_OGG]
voDec=0

[Audio_Dec_RA]
voDec=0

[Audio_Dec_MAC]
voDec=0

[Audio_Dec_ALAC]
voDec=0

[Audio_Dec_DTS]
voDec=0

[Video_Dec_MPEG4]
voDec=0

[Video_Dec_H263]
voDec=0

[Video_Dec_S263]
voDec=0

[Video_Dec_H264]
voDec=0

[Video_Dec_WMV]
voDec=0

[Video_Dec_REAL]
voDec=0

[Video_Dec_MPEG2]
voDec=0

[Video_Dec_MJPEG]
voDec=0

[Video_Dec_DIVX]
voDec=0

[Video_Dec_VP6]
voDec=0

[Video_Dec_VP8]
voDec=0



